page-balance {
   #balance{
       background:black;
   }

   .toolbar-background
   {
       background:black !important;
   }
   .item .item-content
    {
     background-color: transparent !important;
    }
} 
